[submodule "base/JuLibAtoms"]
	path = base/JuLibAtoms
	url = https://github.com/libAtoms/JuLibAtoms
[submodule "minimal/QUIP"]
	path = minimal/QUIP
	url = https://github.com/libAtoms/QUIP.git
[submodule "minimal/GAP"]
	path = minimal/GAP
	url = https://github.com/libAtoms/GAP.git
